* {
    background: $mainBackground;
    color: $text-dark;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  ul li div svg {
    background: inherit;
  }
  
  .layout {
    height: 100%;
    width: 100%;
  }
  