<<<<<<< HEAD
*{
    background: $mainBackground;
    color: black;
=======
* {
    /* background: $mainBackground; */
    color: $text-dark;
>>>>>>> main
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
  }
  ul li div svg {
    background: inherit;
  }
  
  .layout {
    height: 100%;
    width: 100%;
  }
  