.footers{
    background: $teal;
    margin-top: 2rem;
    padding: 1rem;
    border: 1px solid blue;
    width:100%;


    .about{
        color:red;
    }


    .menu{
        color:black;
        background:inherit;
    }
}