.taskbank{
    display: flex;
    /* background: #135135; */
    flex-direction: column;

    .taskbank_header{
        /* background:#123456; */
        display: flex;
        height:50px;
        flex-direction: row;
        justify-content: center;
        align-items:center;
        margin-top:0.5rem;
        margin-bottom:0.5rem;
        padding: 1rem 2rem;

        select {
            margin-left: 1rem;
        }

        button {
            width: 9rem;
            display: flex;
            margin-left: 1rem;
            background-color: $red;
            color: white;
            border: transparent;
            border-radius: 0.5rem;
        }
        
    }

    .taskbank_body{
        display: flex;


        .taskbank_leftside{
            flex:3;
            background: $gray-light;
            margin-right: 2rem;
            border-top-right-radius: 1rem;
            border-bottom-right-radius: 1rem;
        }

        .taskbank_content{
            flex:10;
            background: white;
            border: 1px solid blue1;
        }

        .taskbank_rightside{
            flex:1;
            
            div {
                background-color: gray;
                width: 3rem;
                height: 3rem;
                border-radius: 100%;
                margin: 1rem;
            }
        }
    }
}